<main>
    <mat-toolbar color="primary">
        <span>{{ registered ? messages.registeredTitle : messages.unregisteredTitle }}</span>
        <span class="spacer"></span>
        <button mat-button (click)="openLicense()">
            {{ messages.licenses }}
        </button>
    </mat-toolbar>
    @if (registered) {
        <mat-list>
            @if (highlightedEmails.length != 0) {
                <h3 matSubheader>{{ messages.highlightedEmails }}</h3>
                <app-email-list [emails]="highlightedEmails" [messages]="messages" [isPhone]="isPhone" />
                <h3 matSubheader>{{ messages.remainingEmails }}</h3>
            }
            <app-email-list [emails]="emails" [messages]="messages" [isPhone]="isPhone" />
        </mat-list>
    } @else {
        <div class="centered-outer">
            <div class="centered-inner">
                {{ messages.register }}
            </div>
        </div>
    }
</main>
