@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$blue-palette,
        tertiary: mat.$azure-palette,
    ),
));

$dark-theme: mat.define-theme((
    color: (
        primary: mat.$green-palette,
        tertiary: mat.$orange-palette,
    ),
));

.mat-mdc-snack-bar-container {
    &.snackbar {
        --mdc-snackbar-container-color: white;
        --mdc-snackbar-supporting-text-color: dark;
    }
}

html {
    @include mat.core-theme($light-theme);
    @include mat.button-theme($light-theme);

    @media screen and (prefers-color-scheme: dark) {
        @include mat.core-theme($dark-theme);
        @include mat.button-theme($dark-theme);

        .mat-mdc-snack-bar-container {
            &.snackbar {
                --mdc-snackbar-container-color: #333;
                --mdc-snackbar-supporting-text-color: white;
            }
        }
    }
}

html, body { height: 100%; }
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
